@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", serif;
}
.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 70%;
}

.nav_logo {
    max-width: 500px;
    height: auto;
}

body{
    display: flex;
    background-image: url(../img/telon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}