{% extends 'base_main.html' %}
{% block additional_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/base_list_movies.css') }}">
{% endblock %}

{% block content %}
<section class="container">
    <h1 class="list-title">{{ list_title }}</h1>
    {% if movies %}
        <div class="movie-list">
            {% for movie in movies %}
                <section class="movie-card">
                    <section class="movie-visual">
                        <img src="{{ movie.poster_image }}" alt="{{ movie.title }}" class="movie-poster">
                    </section>
                    <div class="movie-info">
                        <h3 class="movie-title">{{ movie.title }}</h3>
                        <p class="movie-year">{{ movie.year }}</p>
                    </div>
                </section>
            {% endfor %}
        </div>
    {% else %}
        <p class="movie-title">No hay películas en esta lista</p>
        <img class="movie-poster" src="../static/img/popcorn.jpg" alt="Vacioooo!">
    {% endif %}
</section>
{% endblock %}
