<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cine Traker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/base_main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/CineTracker.JPG') }}">
    {% block additional_css %} <!--link adicional de css-->{% endblock %}
</head>
<body>
    <nav class="nav_container">
        <section class="sec_logo" >
            <img class="logo" src="{{ url_for('static', filename='img/CineTracker-removebg.png') }}" alt="Cine Traker Logo">
        </section>

        <section class="sec_main">
            <ul class="main">
                <li><a href="{{ url_for('watchlist') }}">Seguimiento</a></li>
                <li><a href="{{ url_for('watchedlist') }}">Vistas</a></li>
                <li><a href="{{ url_for('trendlist') }}">Tendencia</a></li>
                <li><a href="{{ url_for('favlist') }}">Favoritas</a></li>
                <li><a href="{{ url_for('cinelist') }}">Cartelera</a></li>
                <li><a href="{{ url_for('cominglist') }}">Proximamente</a></li>
                <li><a href="{{ url_for('recommendedlist') }}">Recomendadas</a></li>
                <li><a href="{{ url_for('relatedlist') }}">Relacionadas</a></li>
            </ul>
        </section>
    </nav>

    {% block content %}
    <!-- Contenido de las páginas que heredan de baseAuth -->
    {% endblock %}
</body>
</html>
